.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.7;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #7b66fa !important;
}

.Button:active {
  background-color: #7b66fa !important;
}

.Button:focus {
  background-color: #7b66fa;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}


.Bright:hover {
  background-color: #7b66fa;
  color: #ffffff;
}


.Purple,
.PurpleOutline:hover {
  background-color: #9671ee;
  color: aliceblue;
}

.Purple:hover,
.PurpleOutline {
  background-color: #cfced3;
  color: #743cf9;
}

.Bright {
  background-color: #7b66fa;
  color: #ffffff;
}