.Form {
  border: none;
  border-bottom: 2px #ffb8fa solid;
}

.Button {
  border: none;
  background-color: #9671ee;
  color: aliceblue;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #cfced3;
  color: #743cf9;
}