.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    /* max-width: 600px; */
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Button {
    color: #f85032;
  }
  
  .Button:hover {
    color: #2142b2;
  }
  
  .ButtonOutline:hover {
    color: #f85032;
  }

  .TimeContainer {
    align-items: flex-start !important;
  }

  .EventImage {
    max-height: 600px;
    object-fit: cover;
  }