.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    /* max-width: 600px; */
    text-align: center;
  }

  .PostCardHeader {
    padding: 0.25rem 1rem
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }

  .ButtonDisabled {
    border-radius: 4rem;
    margin-right: 5px;
  }

  .ButtonActive {
    background-color: #a02ac7;
    border-color: #a02ac7;
    border-radius: 4rem;
    margin-right: 5px;
  }
  
  .ButtonActive:hover {
    background-color: #ff76f4;
    border-color: #ff76f4;
  }

  .ButtonActive:active {
    background-color: #ff76f4 !important;
    border-color: #ff76f4 !important;
  }

  .ButtonActive:focus {
    background-color: #a02ac7;
    border-color: #a02ac7;
  }

  .ButtonOutline {
    background-color: #000;
    border-color: #000;
    border-radius: 4rem;
    margin-right: 5px;
  }
  
  .ButtonOutline:hover {
    background-color: #ff76f4;
    border-color: #ff76f4;
  }

  .ButtonOutline:active {
    background-color: #ff76f4 !important;
    border-color: #ff76f4 !important;
  }

  .ButtonOutline:focus {
    background-color: #a02ac7;
    border-color: #a02ac7;
  }


  .TimeContainer {
    align-items: flex-start !important;
  }

  .EventImage {
    max-height: 600px;
    object-fit: cover;
  }

  .BadgeEventCard {
    background-color: #717d6c;
    color: #fff;
  }