.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavBarContainer {
  max-width: 1500px;
}

.NavLink {
  padding: 5px;
  margin-right: 5px;
}

.Active i {
  color: #802ac7;
}

.DropdownItem:hover {
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  color: #ffffff;
  background-color: rgba(255, 118, 244, 0.6) !important;
}

.DropdownItemActive {
  background-color: rgba(128, 42, 199, 0.6) !important;
  color: white !important;
}

.custom-toggle::after {
  display: none !important;
}

.PlusToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.PlusToggle:hover {
  color: #ff76f4;
}

.AvatarToggle {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.AvatarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NavBarText {
  margin-left: 5px;
  font-size: 14px;
}

.BellContainer {
  position: relative;
  display: inline-block;
}

.NotificationCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18px;
  min-height: 18px;
  line-height: 1;
  z-index: 1;
}
