.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  /* max-width: 600px; */
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  /* color: #f85032; */
  color: #ff76f4;
}

.Disabled:hover {
  color: #cfced3;;
  cursor:default;
}

.Heart:hover {
  /* color: #2142b2; */
  color: #ff76f4;
}

.HeartOutline:hover {
  color: #ff76f4;
}

.PostImage {
  max-height: 600px;
  object-fit: cover;
}