.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #ff76f4;
}

.Disabled:hover {
  color: #a5a4a7;
  cursor: default;
}

.Heart:hover {
  color: #a5a4a7;
}

.HeartOutline:hover {
  color: #ff76f4;
}

.PostImage {
  max-height: 600px;
  object-fit: cover;
}
